<footer class="page-footer bg-primary">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="card-panel teal lighten-2">MANYBLOG</h5>
                <h4 class="#9575cd deep-purple lighten-2">In this blog Many Types of Content Will be available.</h4>
              </div>
              <div class="col l4 offset-l2 s12">
                <h4 class="white-text">Links</h4>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/home">HOME</a></li>
                  <li><a class="grey-text text-lighten-3" href="/about">ABOUT</a></li>
                  <li><a class="grey-text text-lighten-3" href="/admin">ADMIN</a></li>
                  <li><a class="grey-text text-lighten-3" href="#">CATEGORY</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <a href="https://diplomawaale.blogspot.com/">© 2023 DIPLOMAWALE.BLOGSPOT.COM</a>
            <a class="grey-text text-lighten-4 right" href="https://diplomawaale.blogspot.com/">More Links</a>
            </div>
          </div>
        </footer>
